<div class="row">
<br>
  <br>
    <h1 align="center">Editing Meeting</h1>
    <br>
    <br>
    <%= render 'form' %>
   <div class="field" align="center">
    <%= link_to 'Show', @meeting, class: "button secondary radius expanded" %>
    <%= link_to 'Back', meetings_path, class: "button secondary radius expanded" %>
    </div>
  </div>
</div>
